/* css 조건 8번 만족 */
@font-face {
    font-family: 'GangwonEducationModuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

/* css 조건 9번 만족 */
body{
    text-align: center;
    font-family: 'GangwonEducationModuche';
}

/* css 조건 10번 만족 */
hr{
    width: 30%;
}